body { 
	font-size: 80%; 
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	padding:0;
	margin:0;
	background-image:url("images/Elegant_Background-18.jpg");
	width:100%;
}

.menu {
	background-color:rgba(12,2,3,0.3);
	//background: #fff;
	z-index: 200;
	width: 100%;
	//position: fixed;
    float:left;
    height:5em; 
	text-align:center;  
	border-bottom: 1px #fff; 	
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    //border-bottom: 5px solid #ffffff;
}
.menu ul {
    list-style: none;
	display: inline-table;
	text-align:center;
	margin:0 auto;
}

.menu li {
    text-transform:uppercase;
	display: inline-table;
	list-style: none; 
	font-family: 'PT Sans', sans-serif;
	text-transform:uppercase;
	display:inline-block;
	margin:0 auto;  
	padding-top:16px; 
	padding-left:8px;
	padding-right:8px;
}

.menu li a {
	text-decoration: none;
	font-size: 1.3em;
	color: #fff;
	font-weight: 700;
	display: inline-block;
    text-align: center;	
	display: inline;
	text-decoration: none;
}

.menu li a:hover,
.menu li a.selected {
	color: #212143;
	display: inline; 
	font-size:1.5em; 
}

.inspiration{
	clear:both;
	background:url("images/macro.jpg");
	width:100%;
	height:20em;
	text-align:center;
	color:white;
	font-family: 'Indie Flower', cursive;
	font-size:200%;
	text-shadow:2px 1px 1px rgba(0,0,0,.7);
	padding-bottom:10em;
}
.big{
	font-size:4em;
	margin:0;
	padding:0;	
}
h1{
	font-size:2em;
}
.top{
	background: rgba(22, 30, 69, 0.5);
	width: 100%;
	color:#77AA89; 
	position: relative;
    height:6em; 
	text-align:right;
	border-bottom: 1px #fff;
	margin-top:-1em;
}
}
.top ul {
    list-style: none;
	display: inline-table;
	margin:0 auto;
}

.top li {
    text-transform:uppercase;

	display: inline-table;
	list-style: none; 
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	text-transform:uppercase;
	display:inline-block;
	margin:0 auto;  
	padding-top:16px; 
	padding-left:8px;
	padding-right:8px;
}

.top li a {
	text-decoration: none;
	font-size: 1.5em;
	color: #fff;
	font-weight: 600;
	display: inline-block;
	margin-right:1em;
    text-align: center;	
	display: inline;
	text-decoration: none;
}

.top li a:hover,
.top li a.selected {
	color: #F0DF99;
	display: inline;
	font-size:1.7em; 
}


#about{
	text-align:center;
background: rgba(255,255,255,0.6); 
margin-bottom:-16px;
padding:0;
}
#calc{
	text-align:center;
	font-family: 'Indie Flower', cursive;
	background: rgba(255,255,255,0.6);
}
.filler{
	float:left;
	width:10%;
	height:20px;
}
img{
	width:100%;
}
.big2{
	font-size:3em;
	color:#F2E098;

	font-weight:700;
}
.content {
	font-family: 'Indie Flower', cursive;
	font-size:2em;
}
.conntent p{
	padding-right:2em;
	padding-left:2em;
}
.content a{
	text-decoration: none;
	
}
.content a:hover{
	color:#51BCE7;
}


